@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

$primary: rgb(0, 118, 191);
$secondary: rgb(159, 204, 231);
$tertiary: rgb(179, 142, 9);

$font: "Crete Round", serif;

$medium : 992px;
$small : 768px;
$extraSmall: 560px;

$title: 20px;
$subTitle: 16px;
$txt: 14px;

$minHeight: calc(100vh - 160px);