@import "../variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $primary;

  &__img {
    padding-left: 15px;
  }

  &__cgu {
    padding-right: 15px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
}
