@import "../variables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $primary;
  }

  &__logo {
    padding-left: 30px;
    color: #fff;
    font-size: $title;
    text-decoration: none;
  }

  &__img {
    padding-right: 30px;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    top: 50px;

    @media only screen and (max-width: $extraSmall) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: static;
    }
  }

  &__menu-invisible {
    display: none;
  }
  
  &__responsive {
    @media only screen and (max-width: $extraSmall) {
      width: 100%;
    } 
  }

  &__menu-visible {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;

    background-color: $primary;
    width: 200px;
    padding: 5px 30px 10px 0;
    border-top: 1.5px solid white;
    border-bottom-left-radius: 10px;

    @media only screen and (max-width: $extraSmall) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 5px 0 10px 30px;
      border-radius: 0;
    }
  }

  &__txt {
    font-size: $subTitle;
    color: #fff;
    text-decoration: none;
  }
}
