@import "../variables.scss";

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__infos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        width: 32px;
        height: 32px;
    }
}