@import "../variables.scss";

.test {
  color: red;
}

.lorem {
  width: 150px;
  color: $primary;
}

.main {
  padding: 30px;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;

  &__size {
    width: 200px;
    height: 35px;
  }

  &__select {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

  }

  &__button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-family: $font;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }

  &__txt {
    font-family: $font;
  }
}

.spots {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.spot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  // margin: 25px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    &--blue {
      background-color: $secondary;
    }
  }

  &__lien {
    text-decoration: none;
    width: 100%;
  }
}
