@import "../variables.scss";

.test {
  color: red;
}

.lorem {
  width: 150px;
  color: $primary;
}

.main {
  padding: 30px;
}

.sort {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin: 30px 0;
}

.spots {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.spot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  // margin: 25px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

    &--blue {
      background-color: $secondary;
    }
  }

  &__lien {
    text-decoration: none;
    width: 100%;
  }
}
