@import "../variables.scss";

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;

    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 70%;
    }

    &__modify {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
}

.modify {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}